<%- include("header"); -%>
<script src="../js/public_chatroom.js"></script>
<link rel="stylesheet" href="../css/public_chatroom.css">
<!-- <head><script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" /> -->
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div id="frame">
        <div id="sidepanel">
            <div id="profile">
                <div class="wrap">
                    <img id="profile-img" src="<%=login_user.avatar_url%>" class="online" alt="">
                    <i class="fa fa-camera upload-button" data-toggle="tooltip" 
                        data-placement="bottom" title="Change avatar"></i>
                    <input class="file-upload" type="file" name="avatar" accept="image/*"/>
                    <p><%=login_user.username%></p>
                    <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                    <div id="status-options">
                        <ul>
                            <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
                            <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
                        </ul>
                    </div>
                    <div id="expanded">
                        <!-- <input type="hidden" name="user_id" value="<%=login_user._id%>"> -->
                        First name: <input name="first_name" type="text" value="<%=login_user.first_name%>" /><br>
                        Last name: <input name="last_name" type="text" value="<%=login_user.last_name%>" /><br>
                        Username: <input name="username" type="text" value="<%=login_user.username%>" /><br>
                        <button class="btn btn-outline-warning" id="editBtn">Edit</button>
                        <button class="btn btn-outline-danger" id="deleteBtn" 
                            data-toggle="modal" data-target="#confirmedDelete">Delete Account</button>
				    </div>
                </div>
            </div>
            <div id="contacts">
                <ul>
                    <% for (var user of users) { %>
                        <% if (user._id != login_user.id) { %>
                        <li class="contact" user_id="<%=user._id%>">
                            <div class="wrap">
                                <span class="contact-status online"></span>
                                <img src="<%=user.avatar_url%>" alt="" />
                                <div class="meta">
                                    <p class="name"><%=user.username%></p>
                                </div>
                            </div>
                        </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="contact-profile">
                <img src="<%=login_user.avatar_url%>" alt="" />
                <p><%= login_user.username %></p>
                <div class="social-media">
                    <a id="logout"><i class="fa fa-sign-out" aria-hidden="true" data-toggle="tooltip"
                        data-placement="bottom" title="Log out" ></i></a>
                </div>
            </div>
            <div class="messages">
                <ul>
                    <% for(var message of messages) { %>
                        <% if (message.sender_id == login_user._id) { %>
                        <li class="replies">
                        <% } else { %>
                        <li class="sent">
                        <% } %>
                        <img src="<%=message.sender_avatar%>" alt="" data-toggle="tooltip" 
                            data-placement="bottom" title="<%=message.sender_username%>"/>
                        <p><%=message.content%></p>
                    </li>
                    <% } %>
                </ul>
            </div>
            <div class="message-input">
			    <div class="wrap">
                    <input type="text" sender_id="<%=login_user._id%>" 
                        sender_avatar="<%=login_user.avatar_url%>"
                        sender_username="<%=login_user.username%>"
                        id="message" placeholder="Write your message..." />
			        <i class="fa fa-microphone microphone" aria-hidden="true"></i>
			        <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			    </div>
		    </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="confirmedDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Account Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deleting your account won't remove your messages from the public chatroom.
                Are you sure you want to delete your account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmedDeleteBtn" >Delete My Account</button>
            </div>
            </div>
        </div>
    </div>
    <!-- <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script> -->
    <footer class="copyrigh pt-1 text-right">
        <p style="font-size: 0.8em">Theme Credit: <a href="https://bootsnipp.com/snippets/exR5v" target="_blank">musichitz</a></p>
    </footer>
</body>
</html>